* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(10, 9, 9);
  background: linear-gradient(
    90deg,
    rgba(10, 9, 9, 1) 0%,
    rgba(0, 8, 36, 1) 100%
  );
}

.no-scroll {
  overflow-y: hidden;
}

nav {
  width: 1000px;
  position: fixed;
  top: 50px;
  left: 70px;
  z-index: 2;
}

.home-container {
  display: flex;
  justify-content: space-around;
  padding: 0 60px;
  height: 100vh;
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section h1 {
  font-family: "Tiro Tamil", serif;
  font-size: 60px;
  color: #ede7e3;
}

.hero-section h3 {
  font-weight: 300;
  font-size: 20px;
  color: #ede7e3;
  margin-bottom: 30px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  margin-right: 10px;
  font-weight: 300;
  cursor: pointer;
  color: #ede7e3;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

nav li {
  display: flex;
  margin-right: 100px;
  color: #ede7e3;
}

nav .active {
  color: #fca510;
}

nav a:hover {
  color: #fca510;
  transition: ease-in-out 0.2s;
}

button {
  border: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  outline: none;
  background-color: #fca510;
  height: 45px;
  width: 200px;
  cursor: pointer;
}

button::after {
  border: 2px solid #fca510;
  box-sizing: border-box;
  z-index: -1;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  height: 45px;
  width: 200px;
  transition: 0.2s ease-in-out;
}

button:hover::after {
  top: 5px;
  left: 5px;
  transition: 0.2s ease-in-out;
}

.search-section {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.search-bar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border: 2px solid #fca510;
  display: flex;
}

.search-bar input {
  outline: none;
  padding: 0 0 0 10px;
  font-size: 20px;
  border: none;
  height: 50px;
  width: 300px;
  background-color: #fff;
  margin-right: 20px;
}

.search-bar button {
  padding: 10px;
  position: relative;
  background-color: #fca510;
  color: rgb(10, 9, 9);
  height: 50px;
  width: 50px;
}

.search-bar button::after {
  height: 50px;
  width: 50px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(10, 9, 9);
  opacity: 0.97;
}

.img-section {
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-section img {
  width: 100%;
}

.shop-container {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
  gap: 100px;
  margin-top: 100px;
}

.poster-container {
  display: flex;
  flex-direction: column;
}

.poster-container img {
  width: 100%;
}

.poster-container h4 {
  font-size: 20px;
  color: #ede7e3;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.poster-container img {
  width: 100%;
  margin-bottom: 10px;
}

.poster-container button {
  width: 100%;
}

.poster-container button::after {
  width: 100%;
}

.cart-items-number {
  color: #fca510;
  font-weight: 500;
}

.cart-page-title {
  max-width: 1000px;
  margin: 200px auto 0 auto;
  padding: 0 60px;
  font-size: 50px;
  font-family: "Tiro Tamil", serif;
  color: #ede7e3;
}

.cart-items-container {
  padding: 0 60px 60px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
  gap: 100px;
  margin-top: 80px;
}

.short-buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item h3,
h4 {
  color: #ede7e3;
  font-weight: 300;
}

.cart-item h3 {
  margin-bottom: 20px;
}

.cart-item {
  font-size: 20px;
  color: #ede7e3;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 100%;
  margin-bottom: 10px;
}

.cart-item button {
  width: 140px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.cart-item button::after {
  width: 140px;
  margin-bottom: 10px;
}

.total-price {
  max-width: 1000px;
  margin: 30px auto 0 auto;
  padding: 0 60px;
  font-size: 30px;
  color: #ede7e3;
}

@media screen and (max-width: 1200px) {
  .img-section img {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 940px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-section {
    margin-top: 500px;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }

  nav {
    width: 150px;
    left: 30px;
  }

  nav li {
    margin-right: 20px;
  }

  .img-section img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .shop-container {
    gap: 30px;
  }

  .cart-items-container {
    gap: 30px;
  }

  .cart-item button {
    width: 70px;
  }

  .cart-item h3 {
    font-size: 12px;
  }

  .cart-item h4 {
    font-size: 14px;
  }

  .cart-item button::after {
    width: 70px;
  }

  .poster-container h4 {
    font-size: 12px;
  }

  .search-bar input {
    width: 200px;
  }
}

@media screen and (max-width: 570px) {
  .hero-section {
    margin-top: 200px;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .cart-items-container {
    display: flex;
    flex-direction: column;
  }

  .cart-item button {
    width: 100px;
  }

  .cart-item button::after {
    width: 100px;
  }
}
